body {
	background-color: steelblue;
}

#overall {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid grey;
	background-color: rgba(90, 90, 90, .9);
	height: 460px;
	width: 700px;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-height: 25px;
	width: 640px;
}

h6 {
	font-family: 'Crimson Text', serif;
	color: white;
}

#selection-window {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: url("https://github.com/timmshinbone/cold_harsh_sea/blob/master/chs_images/CHS_Background/background_1.png?raw=true");
	height: 360px;
	width: 640px;
}

#selectionIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 150px;
	width: 640px;
}

canvas {
	border: 1px solid black;
	background-image: url("https://github.com/timmshinbone/cold_harsh_sea/blob/master/chs_images/CHS_Background/background_1.png?raw=true");
	height: 360px;
	width: 640px;
	/*margin: 25px 25px 75px 25px;*/
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

#moveButtons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	border: 1px solid grey;
}

#specialButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*margin-right: 100px;*/
	border: 1px solid grey;
}

button {
	background-color: darkslateblue;
	color: white;
	width: 100px;
}

.hidden {
	display: none;
}




